.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}

.btn-aaaaa {
  @include btnColors($aaaaa-color)
}

.btn-aaaa {
  @include btnColors($aaaa-color)
}

.btn-aaa {
  @include btnColors($aaa-color)
}

.btn-aa {
  @include btnColors($aa-color)
}

.btn-a {
  @include btnColors($a-color)
}

.btn-b {
   @include btnColors($b-color)
}

.btn-c {
  @include btnColors($c-color)
}

.btn-d {
  @include btnColors($d-color)
}
