$footer-color: #504e50;
$primary-color: #37b1bf;
$content-color: #f6f6f6;

$aaaaa-color: #8b59be;
$aaaa-color: #596abe;
$aaa-color: #599ebe;
$aa-color: #96d77e;
$a-color: #cebe5a;
$b-color: #d7954b;
$c-color: #e75637;
$d-color: #d12f2f;
