.content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: $content-color;

  .average-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;

    .button-group {
      animation-duration: 1s;
      animation-name: moveInLeft;
    }

    .price {
      font-size: 2em;
      margin-top: 30px;
      animation-duration: 1s;
      animation-name: moveInRight;
    }

  }
}